@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"]:focus ~ .input-text,
input[type="text"]:not(:placeholder-shown) ~ .input-text:focus{
	@apply text-blue-700 transform -translate-y-10 -translate-x-4 scale-75;
}
input[type="text"]:not(:placeholder-shown) ~ .input-text{
	@apply transform  -translate-y-10 -translate-x-4 scale-75;
}

body, html {
    margin: 0;
    height: 100%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}